<div>
  <h1 class="font-extrabold text-blue-700 no-underline dark:text-blue-500">Icarus Modding Tools</h1>
  <h2 class="m-6">Icarus Mod Manager (aka IMM)</h2>
  <p class="m-12">
    This is a tool to help you manage your mods.
    It will allow you to install, uninstall, and update mods, including the ability to merge multiple mods.
    It will also allow you to create and manage your own mods.
  </p>
  <p class="m-12">
    More info, including download links, can be found on the projects <%= link_to "Github page", "https://github.com/Jimk72/Icarus_Software" %>
  </p>
</div>
