<div class="p-2 mb-4 border-2 border-icarus-500">
  <h3 class="px-2 pb-3 text-blue-500">Analytics</h3>
  <div class="flex flex-col flex-auto">
    <% if metadata.present? %>
      <% %i[errors warnings].each do |type| %>
        <% items = metadata[type] %>
        <% if items.present? && items.count.positive? %>
          <ul class="p-2 ml-5 <%= type == :errors ? 'text-red-500' : 'text-yellow-500' %>">
            <% items.each do |string| %>
              <li class="p-2"><%= string %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <% if metadata[:warnings].blank? && metadata[:errors].blank? %>
        <div class="px-2 ml-5 text-green-500">All Clear</div>
      <% end %>
    <% else %>
      <div class="px-2 ml-5 text-slate-500">No analytics data available</div>
    <% end %>
  </div>
</div>
