<%= turbo_frame_tag "mods" do %>
  <div class="flex flex-col flex-1 w-full">
    <div class="flex justify-end flex-1">
      <div class="mr-4 text-sm text-icarus-500"><%= @total_mods %> mods displayed</div>
    </div>
    <table class="w-full mt-2 table-auto lg:mt-4">
      <thead>
        <tr>
          <th class="p-2" colspan="2">Name</th>
          <th class="hidden p-2 sm:table-cell">Author</th>
          <th class="hidden p-2 sm:table-cell">Version</th>
          <th class="hidden p-2 md:table-cell">Week</th>
          <th class="hidden p-2 xl:table-cell">Type</th>
          <th class="hidden p-2 lg:table-cell">Description</th>
        </tr>
      </thead>
      <tbody>
        <% if mods.empty? %>
          <tr>
            <td colspan="6" class="text-xl text-center text-icarus-500">No mods match your query</td>
          </tr>
        <% else %>
          <%= render mods %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
