<%= turbo_frame_tag "mods" do %>
  <table class="table-auto">
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th class="hidden sm:table-cell">Author</th>
        <th class="hidden md:table-cell">Version</th>
        <th class="hidden lg:table-cell">Description</th>
      </tr>
    </thead>
    <tbody>
      <%= render mods %>
    </tbody>
  </table>
<% end %>
