<%= turbo_frame_tag "mods" do %>
  <table class="table-auto">
    <thead>
      <tr>
        <th colspan="2"><a class="no-underline font-bold" href="<%= mods_path(sort: "name") %>">Name</a></th>
        <th class="invisible sm:visible">Version</th>
        <th><a class="no-underline font-bold" href="<%= mods_path(sort: "author") %>">Author</a></th>
        <th class="invisible lg:visible">Description</th>
      </tr>
    </thead>
    <tbody>
      <%= render mods %>
    </tbody>
  </table>
<% end %>
