<%= turbo_frame_tag "mods" do %>
  <div class="float-right mr-4 text-sm text-icarus-500"><%= @total_mods %> mods displayed</div>
  <table class="table-auto">
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th class="hidden sm:table-cell">Author</th>
        <th class="hidden sm:table-cell">Version</th>
        <th class="hidden md:table-cell">Week</th>
        <th class="hidden lg:table-cell">Description</th>
      </tr>
    </thead>
    <tbody>
      <% if mods.empty? %>
        <tr>
          <td colspan="6" class="text-xl text-center text-icarus-500">No mods match your query</td>
        </tr>
      <% else %>
        <%= render mods %>
      <% end %>
    </tbody>
  </table>
<% end %>
