<div data-controller="mods" class="container">
  <div class="flex flex-1">
    <div class="md:px-2 flex flex-auto items-middle justify-between">
      <h1 class="text-blue-500">Icarus Mods</h1>
      <%= form_with(url: mods_path, method: :get, data: {turbo_frame: "mods", turbo_action: "advance"}) do |form| %>
        <div class="flex items-bottom space-x-3">
          <%= form.text_field :query, placeholder: "Start Typing to Search", data: {action: "input->mods#search"}, class: "py-2 px-2 md:mt-4 md:mr-2 text-slate-500 rounded border ring-0 focus:ring-4 focus:ring-blue-500 focus:shadow-none focus:border-blue-500 focus:outline-none" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-icarus">Click on any row to view additional mod details</div>
  <% if @mods.nil? %>
    No Mods match your query, please try a different search
  <% else %>
    <%= render "mods", mods: @mods %>
  <% end %>
</div>
