<section>
  <h1>Welcome to Project Daedalus</h1>

  <div>
    <div>
      <h2>What is Project Daedalus?</h2>
      <p>
        Project Daedalus is a modding platform for the game <%= link_to "Icarus", "https://surviveicarus.com/" %>
        It is a community-driven project, and is open-source.
      </p>
      <p>
        There will be more to come in the future, but for now check out the <%= link_to "Icarus Mod Listing", mods_path %>
      </p>
  </div>
</section>
