<section>
  <h1 class="font-extrabold text-blue-700 no-underline dark:text-blue-500">Welcome to Project Daedalus</h1>

  <div>
    <h2>What is Project Daedalus?</h2>
    <p>
      Project Daedalus is a modding platform for the game <%= link_to "Icarus", "https://surviveicarus.com/" %>.
    </p>
    <p>
      This is a community-driven project and you can find out more on the unofficial modding <%= link_to "Discord server", "https://discord.gg/linkarus-icarus-modding-936621749733302292" %>
    </p>
  </div>
</section>
