<section>
  <h1 class="mb-4 text-xl font-extrabold text-blue-700 no-underline md:mb-12 md:text-2xl lg:text-6xl dark:text-blue-500">Welcome to Project Daedalus</h1>

  <div>
    <h2 class="px-4 mb-2 text-lg md:mb-8 md:text-xl lg:text-4xl">What is Project Daedalus?</h2>
    <div class="p-4">
      <div class="py-4">
        Project Daedalus is a modding platform for the game <%= link_to "Icarus", "https://surviveicarus.com/", class: "anchor-blue" %>.
      </div>
      <div class="py-4">
        This is a community-driven project and you can find out more on the unofficial modding <%= link_to "Discord server", "https://discord.gg/linkarus-icarus-modding-936621749733302292", class: "anchor-blue" %>
      </div>
    </div>
  </div>
</section>
