<div>

  <h1 class="text-xl font-extrabold text-blue-700 no-underline md:text-2xl lg:text-6xl dark:text-blue-500">Icarus Modding Information</h1>

  <section class="m-6">
    <h2 class="text-lg md:text-xl lg:text-4xl text-icarus-500">Icarus Modding Links</h2>
    <div class="m-8">
      <h3 class="md:text-lg lg:text-2xl">The Icarus Modding Discord Server</h3>
      <p class="m-12">
        <%= link_to "Join our Discord", "https://discord.gg/linkarus-icarus-modding-936621749733302292", target: "_blank", class: "anchor-blue" %>
      </p>
      <p class="m-12">
        This is the unofficial modding Discord server for Icarus.
        It's a great place to get help with modding, ask questions, and meet other modders.
      </p>
    </div>

    <div class="m-8">
      <h3 class="md:text-lg lg:text-2xl">The Icarus Modding Upvote Page</h3>
      <p class="m-12">
        <%= link_to "Modding Upvote Page", "https://feedback.projectdaedalus.app/", target: "_blank", class: "anchor-blue" %>
      </p>
      <p class="m-12">
        This is a page where you can upvote or add new mods you'd like to see for Icarus.
        It's a great way to let us know what you want to see in the future.
      </p>
    </div>
  </section>
</div>
