<div class="text-slate-800 dark:text-slate-300 md:py-4 md:px-5 md:flex md:flex-auto md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <a class="no-underline text-2xl font-bold leading-7 text-blue-800 dark:text-blue-300 sm:truncate sm:text-4xl sm:py-1 sm:tracking-tight"
       href="<%= root_path%>">Project Daedalus</a>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <%# <button type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Edit</button> %>
    <%# <button type="button" class="ml-3 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Login</button> %>
  </div>
</div>
