<div class="text-slate-800 dark:text-slate-300 md:py-4 md:px-5 md:flex md:flex-auto md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <a class="text-2xl font-bold leading-7 no-underline text-icarus-500 sm:truncate sm:text-4xl sm:py-1 sm:tracking-tight"
       href="<%= root_path %>">Project Daedalus</a>
  </div>
  <div class="flex mt-4 md:mt-0 md:ml-4">
    <%# <button type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Edit</button> %>
    <%# <button type="button" class="inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Login</button> %>
  </div>
</div>
