<div class="text-slate-800 dark:text-slate-300 md:py-4 md:px-5 md:flex md:flex-auto md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <%= link_to "Project Daedalus", home_path, class: "text-2xl font-bold leading-7 no-underline text-icarus-500 sm:truncate sm:text-4xl sm:py-1 sm:tracking-tight" %>
  </div>
  <div class="flex mt-4 md:mt-0 md:ml-4">
    <button type="button" class="button">
      <%= link_to "Mods", mods_path, class: "inline-flex items-center px-4 py-2 font-medium no-underline text-icarus-500 hover:text-blue-500"%>
    </button>
    <button type="button" class="button">
      <%= link_to "Info", info_path, class: "inline-flex items-center px-4 py-2 font-medium no-underline text-icarus-500 hover:text-blue-500"%>
    </button>
  </div>
</div>
